extends blocks/layout/regular

block content
  - const activeCategory = getCategoryById(categories, activeCategoryId);
  main.articles-category
    h1= activeCategory.name
    section.articles-category__theme-list
      h2.visually-hidden Список тем
      ul.themes
        each category in categories
          li.themes__item
            a(class= category.id === activeCategory.id ? `themes__item-link themes__item-link--active` : `themes__item-link`
              href=`/offers/category/${category.id}`)= category.name
              sup= getArticlesByCategory(articles, category).length
    section.articles-category__list.preview
      h2.visually-hidden Список превью статей
      - const articlesByActiveCategory = getArticlesByCategory(articles, activeCategory)
      ul.preview__list
        each item in articlesByActiveCategory
          li.preview__item
            ul.preview__breadcrumbs
              each category in item.category
                li.preview__breadcrumbs-item
                  a.preview__breadcrumbs-link(href=`/offers/category/${category.id}`)= category.name
            .preview__background
              img.preview__background-image(src=`/img/${item.picture}@1x.jpg` width="460" height="240" srcset=`/img/${item.picture}@1x.jpg 1x, /img/${item.picture}@2x.jpg 2x` alt=`Фотография ${item.picture}`)
            time.preview__time(datetime=`${item.createdDate.datetime}`)= item.createdDate.human
            h3.preview__name
              a.preview__name-link(href=`/offers/${item.id}`)= item.title
            p.preview__text= item.announce
            a.preview__comment(href="#")
              | Комментарии
              span.preview__cloud
              b.preview__comment-count= item.comments.length
