extends blocks/layout/admin

block content
  main.main-page.main-page--padding
    section.main-page__publication.publication
      h1.publication__title Комментарии
      ul.publication__list
        each comment in myComments
          li.publication__list-item
            .publication__header
              img.publication__list-image(src=`/img/${comment.author.avatar.small}.png` width="20" height="20" alt="Аватар пользователя")
              b.publication__list-name= `${comment.author.firstname} ${comment.author.lastname}`
              time.publication__item-time(datetime=`${comment.created_date}`)= comment.created_date
            a.publication__item-text(href=`/articles/${comment.article.id}`)= comment.article.title
            p.publication__text-strong= comment.article.announce
            button.publication__button.button.button--close-item(type="button")
              span.visually-hidden Закрыть строку списка

