extends blocks/layout/regular

block content
  main.main-page
    h1.visually-hidden Главная страница личного блога Типотека
    p
      | Это приветственный текст, который владелец блога может выбрать, чтобы описать себя 👏
    section.main-page__theme-list
      h2.visually-hidden Список тем
      ul.themes
        each category in categories
          li.themes__item
            a.themes__item-link(href="#")= category.name
              |&#32;
              sup= getArticlesByCategory(articles, category).length
    .main-page__section-flex
      section.main-page__hot.hot
        h2.hot__name
          | Самое обсуждаемое
          span.hot__icon.hot__icon--fire
        ul.hot__list
          each item in mostDiscussedItems
            li.hot__list-item
              a.hot__list-link(href="#")= item.announce
                |&#32;
                sup.hot__link-sup= item.comments.length
      section.main-page__last.last
        h2.last__name
          | Последние комментарии
          span.last__icon.last__icon--cloud
        ul.last__list
          each comment in lastComments
            li.last__list-item
              img.last__list-image(src=`img/${comment.author.avatar.small}.png` width="20" height="20" alt="Аватар пользователя")
              b.last__list-name= comment.author.name
              a.last__list-link(href="#")= comment.text
    section.main-page__list.preview
      h2.visually-hidden Список превью статей
      ul.preview__list
        each item in freshItems
          li.preview__item
            ul.preview__breadcrumbs
              each category in item.category
                li.preview__breadcrumbs-item
                  a.preview__breadcrumbs-link(href="#")= category.name
            .preview__background
              img.preview__background-image(src=`img/${item.picture}@1x.jpg` width="460" height="240" srcset=`img/${item.picture}@1x.jpg 1x, img/${item.picture}@2x.jpg 2x` alt=`Фотография ${item.picture}`)
            time.preview__time(datetime=`${item.createdDate.datetime}`)= item.createdDate.human
            h3.preview__name
              a.preview__name-link(href="#")= item.title
            p.preview__text= item.announce
            a.preview__comment(href="#")
              | Комментарии
              span.preview__cloud
              b.preview__comment-count= item.comments.length

