extends blocks/layout/admin-popup

block content
  main
    section.modal.modal--flex
      .popup.popup--new-publication.popup--flex
        .new-publication
          form(action=`/articles/edit/${article.id}` method="post")
            .new-publication__header
              h1 Новая публикация
              .new-publication__date-form
                h3 Дата публикации
                .new-publication__date-form-division
                  .new-publication__date-block
                    label(for="new-publication-date" aria-label="Календарь")
                    input#new-publication-date(type="text" name="created_date" placeholder="21.03.2019" value=`${article.created_date}` required="")
              button.new-publication__button.button.button--colored(type="submit") Обновить
            a.popup__button.button.button--popup-close(href="/my" aria-label="Закрыть окно")
              | Закрыть
              | окно
            .new-publication__form.form
              .form__wrapper.form__wrapper--intro
                .form__field
                  label
                    input(type="text" placeholder="Заголовок" name="title" value=`${article.title}` required="")
                .form__field.form__field--post-image
                  label
                    input#image-name-field(type="text" value=`${article.picture}.png` name="picture-name" placeholder="Фотография" readonly="")
                  .form__image-loader.form__image-loader--publication
                    label
                      input.visually-hidden(type="file" name="picture")
                      | Обзор
                  button.button.button--transparent Удалить
                each category in categories
                  .new-publication__checkbox.new-publication__checkbox--auto
                    input(
                      id=`${category.id}`
                      type="checkbox"
                      name=`category-${category.name}`
                      value=`${category.id}`
                      checked=article.categories.find((item) => item.id === category.id))
                    label(for=`${category.id}`)= category.name
                a.new-publication__form-link.button.button--transparent(href="#") Добавить категорию
              .form__wrapper.form__wrapper--text
                .form__field.form__field--publication-text
                  label
                    textarea(rows="2" placeholder="Анонс публикации" name="announce")= article.announce
                .form__field.form__field--publication-text
                  label
                    textarea(rows="5" placeholder="Полный текст публикации" name="full_text")= article.full_text
      .modal__overlay

