extends blocks/layout/regular

block content
  main
    section.post
      h1.visually-hidden Пост
      section.post__content
        h2.visually-hidden Основное содержание
        .post__wrapper
          .post__head
            a.post__backwards.button.button--backwards(href="/") Назад
            time.post__date(datetime=`${article.createdDate.datetime}`)= article.createdDate.human
            h2.post__title.title.title--main= article.title
            ul.post__themes.themes
              each category in article.category
                li.themes__item
                  a.themes__item-link(href=`/articles/category/${category.id}`)= category.name
                    sup= getArticlesByCategory(articles, category).length
                  button.themes__remove-btn(type="button") Удалить категорию
          .post__picture
            img(src=`/img/${article.picture}@1x.jpg` alt=`${article.picture}`)
          .post__text
            h3= article.announce
            p= article.fullText
      .post__wrapper.post__wrapper--comments
        section.post__comments.comments
          h2.comments__title.title.title--middle Комментарии
          ul.comments__list
            - const sortedComments = article.comments.sort((a, b) => b.createdDate.machine - a.createdDate.machine)
            each comment in sortedComments
              li.comments__comment
                .comments__avatar.avatar
                  img(src=`/img/${comment.author.avatar.regular}.png` alt="аватар пользователя")
                .comments__text
                  .comments__head
                    p= `${comment.author.name} •`
                    time.comments__date(datetime=`${comment.createdDate.dateTime}`)= comment.createdDate.human
                  p.comments__message= comment.text
          .comments__footer.comments__footer--user
            form(action="#" method="POST")
              .comments__avatar.avatar
                img(src="/img/avatar-2.png" alt="аватар пользователя")
              label
                textarea(rows="1" placeholder="Присоединиться к обсуждению")
              button.comments__button.button.button--colored(type="submit") Опубликовать

