header.header
  include ../logo/image-only

  if auth.status && auth.user[`is_admin`]
    a.button.button--colored.header__button-new(href="/articles/add") Новая запись
    div.header__dropdown
      a.button.button--burger.header__burger Открыть меню

      ul.navigation.header__navigation
        li.navigation__item
          a(href="/my") Публикации
        li.navigation__item
          a(href="/my/comments") Комментарии
        li.navigation__item
          a(href="/my/categories") Категории
        li.navigation__item
          form(action="/logout" method="POST")
            button.header__exit(
              style={
                border: `none`,
                background: `none`,
                cursor: `pointer`,
              }
              type="submit"
            ) Выйти

  if auth.status && !auth.user[`is_admin`]
    nav.header__nav
      ul.header__nav-list
        li.header__list-item
          p= `${auth.user.firstname} ${auth.user.lastname}`
        li.header__list-item
          form(action="/logout" method="POST")
            button.header__exit(
              style={
                border: `none`,
                background: `none`,
                cursor: `pointer`,
              }
              type="submit"
            ) Выйти

    div.header__dropdown
      a.header__avatar.avatar.button.button--burger.header__burger
        img(src=`/img/${auth.user.avatar.regular}` alt="аватар пользователя")

  if !auth.status
    nav.header__nav
      ul.header__nav-list
        li.header__list-item
          a.header__registration(href="/register") Регистрация
        li.header__list-item
          a.header__enter(href="/login") Вход с паролем

  include ../search
